@model OperaWebSite.Models.Opera


@{
    ViewBag.Title = "Delete";
}

<h2>Opera Delete</h2>
<p>Are you sure you want to delete this Opera?</p>

@using (Html.BeginForm("Delete", "Opera", FormMethod.Post))
{
    @Html.HiddenFor(model => model.OperaId)
    <fieldset>
        <legend>Opera Detail</legend>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Tittle)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Tittle)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Composer)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Composer)
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Delete" />
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Index", "Opera")
</p>

