
@{
    ViewBag.Title = "Create";
}

@model IEnumerable<OperaWebSite.Models.Opera>


<p> @Html.ActionLink("Create New", "Create", "Opera")</p>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Tittle)</th>
        <th>@Html.DisplayNameFor(model => model.Composer)</th>
        <th>@Html.DisplayNameFor(model => model.Year)</th>
        <th>Details</th>
        <th>Deletes</th>
        <th>Edit</th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Tittle)</td>
            <td>@Html.DisplayFor(modelItem => item.Composer)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>
                @Html.ActionLink("Detail", "Detail", new { id = item.OperaId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.OperaId })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OperaId })
            </td>

        </tr>
    }
</table>

@section SideBarIzq
        {
    <div id="Link">
        <ul>
            <li> <a href="https://www.youtube.com/watch?v=m8FoeABrM9Q"> RIGOLETTO de Giuseppe Verdi</a> </li>
            <li> <a href="https://www.youtube.com/watch?v=8WNJyOKvKkM"> La flauta mágica. La reina de la noche. W.A. Mozart. The Magic Flute. Die zauberflöte. </a></li>
            <li> <a href="https://www.youtube.com/watch?v=MGy23IQgns8"> "Tosca" de Giacomo Puccini </a></li>
        </ul>
    </div>
}

@section SideBarDer
        {
    <a href="https://es.wikipedia.org/wiki/Giacomo_Puccini">  <img src="~/Images/GiacomoPuccini.jpg" alt="Giacomo Puccini" /></a>

    <a href="https://es.wikipedia.org/wiki/Giuseppe_Verdi"> <img src="~/Images/220px-GiuseppeVerdi.jpg" alt="Giacomo Puccini" /></a>
    
    <a href="https://es.wikipedia.org/wiki/Wolfgang_Amadeus_Mozart"> <img src="~/Images/Mozart-small.jpg" alt="Wolfgang Amadeus Mozart" /></a>
    
}
